:root {
    --bg-color: #2E3440;
    --text-color: #D8DEE9;
    --accent-color: #5E81AC;
    --second-accent-color: #87BACD;
}

body {
  color: var(--text-color); 
  background-color: var(--bg-color);
}

h1 {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.accent {
  color: var(--accent-color);
}

.headerButton {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 10px;
}

.headerButton a{
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: bold;
  text-decoration: none;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.headerButton a:hover {
  background-color: var(--second-accent-color); 
}

.paragraph {
  padding-left: 10%;
  padding-right: 10%;
  color: var(--text-color);
}

.paragraph h2 {
  margin-bottom: 0px;
}

.paragraph hr {
  border: none;
  border-top: 2px solid var(--accent-color); 
  margin-bottom: 16px;
}

